.*.swp
.*.Rout.pdf
.*.wrapR.rout
.*.RData
.*.Rlog

*.Rout
*.wrapR.r
*.Rlog
*.wrapR.rout

*.html

*.Rds
*.rds
target.mk

datadir/lme4/*.rds

*.aux
*.log
*.bbl
*.blg
*.deps
*.out
*.soc

.RData
.Rhistory

*~
.texdeps
makestuff/
*_cache/

pkg/release/
*.loc
